<div class="container">
    <div class="col s12">
        <div class="card">
            <div class="card-content white-text">
                <div class="row">
                    <div class="col s5">
                        <form [formGroup]="registerForm" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                            <input type="hidden" formControlName="_id" #_id [(ngModel)]="dangkyService.selectedDangKy._id">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" formControlName="TenDangNhap" #name [(ngModel)]="employeeService.selectedEmployee.TenDangNhap" required>
                                    <label>Tên đăng nhập <label class="red-text">*</label></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" formControlName="MatKhau" #name [(ngModel)]="employeeService.selectedEmployee.MatKhau" required>
                                    <label>Mật khẩu <label class="red-text">*</label></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" formControlName="TenHienThi" #name [(ngModel)]="employeeService.selectedEmployee.TenHienThi" required>
                                    <label>Tên hiển thị <label class="red-text">*</label></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" formControlName="DiaChi" #name [(ngModel)]="employeeService.selectedEmployee.DiaChi" required>
                                    <label>Địa chỉ <label class="red-text">*</label></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" formControlName="SoDienThoai" #name [(ngModel)]="employeeService.selectedEmployee.SoDienThoai" required>
                                    <label>Số điện thoại <label class="red-text">*</label></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" formControlName="email" #name [(ngModel)]="employeeService.selectedEmployee.email" required>
                                    <label>Email <label class="red-text">*</label></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn btn-custom center" type="button" (click)="resetForm(employeeForm)">Reset</button>
                                    <button class="btn btn-custom center" type="submit" [disabled]="!employeeForm.valid">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>