<div class="container abcxyz" style="position: absolute; z-index: 999; width: 320px;">
    <div class="thongtin">
        <div class="form-group col-7 ">
            <input style="width:250px; padding: 0 10px; margin-top:10px; " #name matInput placeholder="Nhập điểm đi" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupInput [formControl]="destinationInput"
                [(ngModel)]="address">
            <input style="width:250px; padding: 0 10px;" placeholder="Nhập điểm đến" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupOutput [formControl]="destinationOutput">
            <div style="width:250px">
                <button class="btnDatXe" type="button" class="btn btn-info" style="padding:5px 20px; margin:0 auto; display: block">Đặt xe</button>
            </div>
            <div class="thongTinDatXe">
                <br/>
                <p>Quãng đường: {{this.vc?.estimatedDistance}}</p>
                <p>Thời gian dự kiến: {{this.vc?.estimatedTime}}</p>
                <p>Tổng tiền: {{this.vc?.price}} VNĐ</p>
            </div>
        </div>
    </div>

</div>
<div>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [styles]="mapCustomStyles">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
        <sebm-google-map-directions [origin]="origin" [destination]="destination"></sebm-google-map-directions>
    </agm-map>
</div>