<div class="container" style="margin-top: 10px;">
    <div class="row thongtin">
        <div class="form-group col-7">
            <input #name matInput placeholder="Nhập điểm đi" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupInput [formControl]="destinationInput" [(ngModel)]="address">
            <br/>
            <input placeholder="Nhập điểm đến" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupOutput [formControl]="destinationOutput">
        </div>
        <div class="col-5 thongtin">
            <p>Quãng đường: {{this.vc?.estimatedDistance}}</p>
            <p>Thời gian dự kiến: {{this.vc?.estimatedTime}}</p>
            <p>Tổng tiền: {{this.money}} VNĐ</p>
        </div>
    </div>
    <div class="row datxe">
        <div class="col-7 row">
            <div class="col-3"> <button type="button" class="btn btn-custom" (click)="editname()" style="font-size:12px">Xem thông tin</button>
            </div>
            <div class="col-3"><button type="button" class="btn btn-custom">Đặt xe</button></div>
        </div>
    </div>
</div>
<div class="row">
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [styles]="mapCustomStyles">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
        <sebm-google-map-directions [origin]="origin" [destination]="destination"></sebm-google-map-directions>
    </agm-map>
</div>