agm-map {
    height: 100vh;
    width: 100%;
    position:absolute;
    top: 0;
    z-index:-1;
}


/* .tinhtien {
    height: 30px;
    width: 150px;
    margin: 20px auto;
} */

.datxe {
    margin-bottom: 20px;
    padding: 0;
}

.thongtin {
    font-family: 'Farsan', cursive;
    font-size: 20px;
}

.thongTinDatXe {
    display: none;
    width: 250px;
}

.thongTinDatXe:hover {
    display: block;
}

.abcxyz:hover{
    background-color: rgba(255,255,255,1);
}

.abcxyz:hover .thongTinDatXe {
    display: block;
}

input[type=text]{
    background-color: rgba(255,255,255,1);
}