nav ul li {
    list-style: none;
    position: relative;
    z-index: 99999;
}

nav ul li:hover {
    color: #78ffd6;
}

nav ul ul {
    position: absolute;
    left: 0;
    opacity: 0;
    display: none;
    transition: all 1s;
}

nav ul ul li {
    float: none;
    width: 100px;
    text-align: center;
}

nav ul li:hover>ul {
    top: 60px;
    opacity: 1;
    display: inline-block;
    background-color: #ee6e73;
}

a {
    text-decoration: none;
    width: 100px;
    text-align: center;
    padding: 0;
}

a:hover {
    color: #78ffd6 !important;
}