<nav class="navbar navbar-expand-lg navbar-dark primary-color" style=" height: 60px;">
    <a [routerLink]="['/']" style="color: white; position: absolute; top: 0; left: 0; height: 60px; font-weight: bold; font-size: 15px;">Trang chủ</a>
    <div style="right: 0; position: absolute; margin-right: 25px">
        <ul style="color: white;">
            <li>
                <a [routerLink]="['/dang-nhap']" style="color: white; height: 60px;">Đăng nhập</a>
            </li>
            <li><a style="color: white; height: 60px;">Đăng kí</a>
                <ul>
                    <li><a [routerLink]="['/dang-ky-khach-hang']" style="color: white; padding: 0 5px; height: 60px;">Khách hàng</a></li>
                    <li><a [routerLink]="['/dang-ky-tai-xe']" style="color: white;padding: 0 5px; height: 60px;">Tài xế</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>