<div>
    <div class="register">
        <div class="card">
            <div class="card-content">
                <h2>Đăng ký</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
                    <input type="hidden" formControlName="_id" [(ngModel)]="dangkyService.selectedTaiKhoan._id" />
                    <div class="form-group input-field">
                        <label>Tên hiển thị <label class="red-text">*</label></label>
                        <input type="text" formControlName="TenHienThi" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.TenHienThi.errors }" [(ngModel)]="dangkyService.selectedtaiKhoan.TenHienThi" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.TenHienThi.errors.required">Bạn chưa nhập Họ tên!</div>
                        </div>
                    </div>
                    <div class="form-group input-field">
                        <label>Tên đăng nhập <label class="red-text">*</label></label>
                        <input type="text" formControlName="TenDangNhap" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.TenDangNhap.errors }" [(ngModel)]="dangkyService.selectedTaiKhoan.TenDangNhap" />
                        <div *ngIf="submitted && f.TenDangNhap.errors" class="invalid-feedback">
                            <div *ngIf="f.TenDangNhap.errors.required">Bạn chưa nhập Tên đăng nhâp!</div>
                        </div>
                    </div>
                    <div class="form-group input-field">
                        <label>Mật khẩu <label class="red-text">*</label></label>
                        <input type="password" formControlName="MatKhau" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.MatKhau.errors }" [(ngModel)]="dangkyService.selectedTaiKhoan.MatKhau" />
                        <div *ngIf="submitted && f.MatKhau.errors" class="invalid-feedback">
                            <div *ngIf="f.password.MatKhau.required">Bạn chưa nhập Mật khẩu!</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group input-field">
                        <label>Số điện thoại <label class="red-text">*</label></label>
                        <input type="text" formControlName="SoDienThoai" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SoDienThoai.errors }" [(ngModel)]="dangkyService.selectedTaiKhoan.SoDienThoai" />
                        <div *ngIf="submitted && f.SoDienThoai.errors" class="invalid-feedback">
                            <div *ngIf="f.SoDienThoai.errors.required">Bạn chưa nhập Số điện thoại!</div>
                        </div>
                    </div>
                    <div class="form-group input-field">
                        <label>Email <label class="red-text">*</label></label>
                        <input type="email" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" [(ngModel)]="dangkyService.selectedTaiKhoan.Email" />
                        <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                            <div *ngIf="f.Email.errors.required">Bạn chưa nhập Email!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-custom left" type="button" (click)="resetForm(registerForm)">Reset</button>
                        <button class="btn btn-custom left" type="submit">Đăng ký</button>
                        <a [routerLink]="['/']" class="right" style="line-height:40px;">Trang chủ</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="gioithieu">
        <a [routerLink]="['/']">
            <fa name="facebook-square"></fa>
        </a>
        <a [routerLink]="['/']">
            <fa name="instagram"></fa>
        </a>
        <a [routerLink]="['/']">
            <fa name="twitter-square"></fa>
        </a>
        <div style="font-family: 'Lemonada', cursive; margin-top:20px;">Mr.XeOM</div>
        <p style="margin-top:25%; font-size:24px">Nhunnnnnnnnnnnnnnnn cute</p>
        <p style="margin-top:40%; font-size:16px">Design by ...................</p>
    </div>
</div>