@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright|Lemonada&display=swap');
.register {
    display: block;
    width: 50%;
    height: 100vh;
    position: absolute;
    left: 0;
    z-index: 2;
}

.register h2 {
    text-align: center;
    color: #D76D77;
}

.gioithieu {
    background-image: linear-gradient(-75deg, #89216B 0%, #DA4453 100%);
    width: 50%;
    display: block;
    height: 100vh;
    position: absolute;
    right: 0;
    z-index: 1;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Cormorant Upright', serif;
}

.gioithieu fa {
    padding: 10px;
    color: white;
    transition: 0.5s;
}

.gioithieu fa:hover {
    padding: 10px;
    color: lightsalmon;
}

.card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 350px;
    height: 80%;
}

@media(max-width:700px) {
    .register {
        display: block;
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        z-index: 2;
    }
}